.profile-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  width: 100%;
  max-width: 500px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  padding: 20px;
}

/* .profile-card:hover {
  transform: translateY(-5px);
} */

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-buttons {
  display: flex;
  gap: 10px;
}

.generated-avatars {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.avatar-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.avatar-thumbnail.selected {
  box-shadow: 0 0 0 3px #007bff;
}

.avatar-thumbnail:hover {
  transform: translateY(-2px);
}

.profile-id {
  font-size: 0.8em;
  color: #777;
  margin-top: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

.text-justify {
  text-align: justify !important;
}

button.btn-sm {
  padding: 5px 10px;
  font-size: 0.875em;
}


.modal-warning-header {
  background-color: #ffc107;
  color: #fff;
}

.modal-warning-body {
  background-color: #fff3cd;
  color: #856404;
}

.modal-warning-header .close {
  color: #fff;
}

/* .text{
  text-align: justify !important;
} */

.profile-title {
  /* color: #343a40; */
  color: #007bff;
  animation: fadeIn 2s ease-in-out;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.go-chat{
  width: 20%;
}

.social-media {
  margin: 20px 0;
}

.social-icons a {
  color: #007bff;
  font-size: 24px;
  margin: 0 10px;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  color: #0056b3;
  transform: scale(1.2);
}

/* App.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.dropbtn:hover {
  border: 1px solid black;
  
}
#myDropdown{
  transform: translateX(-100px);
}
.profile-btn{
  width: 80%;
}
.profile-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}
/* 
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */
