/* sideNav.jsx */
/* sideNav.css */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(44, 62, 80, 0.9); /* Semi-transparent background */
  overflow-x: hidden;
  transition: width 0.3s ease;
  padding-top: 60px;
  backdrop-filter: blur(4px);
}

/* Rest of the styles remain the same */
.sidenav.open {
  width: 300px; /* Slightly wider for better usability */
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: #e74c3c; /* A red background to draw attention */
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Center the close button vertically */
}

.sidenav .closebtn:hover {
  background-color: #c0392b; /* Slightly darker red on hover */
}

.sidenav .user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 10px; /* Adds some space below the user section */
  margin-top: 20px;
  
}

.side-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid #00bfff;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adds a slight shadow for depth */
}

.username {
  margin-top: 15px;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Full width for buttons */
  width: 100%; /* Ensure buttons span the full width */
  margin-left: 5rem;
}

.sidenav button {
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 20px;
  padding: 15px 20px; /* Increased padding for better clickability */
  text-align: left;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sidenav button:hover {
  color: #ecf0f1;
  background-color: #34495e; /* Slightly lighter background on hover */
  padding-left: 30px; /* Subtle movement to the right on hover */
}

.btn-ghost {
  background-color: transparent;
  border: none;
  color: #2c3e50;
  font-size: 25px;
  position: fixed;
  padding: 10px 15px;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.btn-ghost:hover {
  color: #34495e;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav button {
    font-size: 18px;
  }
  .side-icon {
    width: 60px;
    height: 60px;
  }
  .username {
    font-size: 18px;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}
